
:root {
  --selected-color: #b37a21;
  --transition-duration: 100ms;
  --clock-ease: cubic-bezier(0.515, -0.225, 0.450, 1.245);
  --clock-duration: 500ms;
}

html {
  font: 400 18px Roboto Slab;
  color: var(--selected-color);
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffde43;
}

.center-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sally__face {
  position: relative;
  width: 195px;
  height: 215px;
  perspective: 800px;
}

.sally__eye {
  position: absolute;
  z-index: 101;
  background-color: #000;
  border-radius: 100%;
  top: 0;
  left: 0;
  width: 68px;
  height: 68px;
}

.sally__eye--left {
  left: 14px;
}

.sally__eye--right {
  left: 94px;
}

.sally__mouth {
  position: absolute;
  z-index: 102;
  top: 77px;
  left: 35px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 150px;
  height: 120px;
  border-top: 8px solid #de3d00;
  border-right: 8px solid #de3d00;
  border-bottom: 8px solid #de3d00;
  background-color: #ff7a00;
  transform-origin: 55px 67px;
}

.sally__hand {
  transition: transform var(--clock-duration) var(--clock-ease);
}


.sally__lip {
  position: absolute;
  width: 70px;
  height: 55px;
  border: 0px solid #de3d00;
  left: -34px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: #ff7a00;
}

.sally__lip--top {
  top: -8px;
  border-width: 8px 0 8px 8px;
}

.sally__lip--bottom {
  border-width: 8px 0 8px 8px;
  bottom: -8px;
}

.sally__lip-line {
  position: absolute;
  top: 55px;
  left: 25px;
  background-color: blue;
  height: 10px;
  width: 74px;
  background-color: #de3d00;
}

label {
  cursor: pointer;
}

input[type="checkbox"] {
  font-size: inherit;
  display: inline-block;
  vertical-align: text-bottom;
  width: .95em;
  height: .95em;
  border: 2px solid rgba(0,0,0,.5);
  -webkit-appearance: none;
  user-select: none;
  outline: none;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--selected-color);
  border: none;
  padding: 2px;
}

.settings {
  font-size: 16px;
  position: fixed;
  z-index: 100;
  bottom: 10px;
  left: 10px;
}

.analog-clock {
  position: relative;
  width: 700px;
  height: 700px;
  border-radius: 100%;
  border: 2px solid var(--selected-color);
}

.analog-clock__tick {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: var(--selected-color);
  transform-origin: 0 .8px;
}

.analog-clock__tick--minor {
  height: 20px;
}

.analog-clock__tick--major {
  height: 25px;
  width: 4px;
}

@media (max-width: 500px) {

  .analog-clock {
    top: -100px;
    right: -100px;
    bottom: -100px;
    left: -100px;
  }

}

.digital-clock {
  position: absolute;
  top: -270px;
  left: 50%;
  margin-left: -2.2em;
  text-align: center;
  font-size: 36px;
}

.temp {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.weather-icon {
  position: fixed;
  top: 25px;
  left: 50%;
  margin-left: -250px;
}

.hidden {
  opacity: 0;
  transition: opacity linear var(--transition-duration);
}

.hidden--visible {
  opacity: 1;
}

.s-pixel .sally__eye,
.s-pixel .sally__mouth,
.s-pixel .sally__mouth * {
  border-radius: 0 !important;
}
