
html {
}

body {
  padding: 0;
  margin: 0;
}

.sally {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
}

.sally__head {
  background-color: #ffde43;
  border: 7px solid #291b00;
  padding: 170px 150px 130px 150px;
  border-radius: 100%;
}

.sally__face {
  position: relative;
  width: 220px;
  height: 220px;
}

.sally__eye {
  position: absolute;
  background-color: #000;
  border-radius: 100%;
  top: 13px;
  width: 68px;
  height: 68px;
}

.sally__eye--left {
  left: 29px;
}

.sally__eye--right {
  left: 109px;
}

.sally__mouth {
  position: absolute;
  top: 90px;
  left: 50px;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  width: 150px;
  height: 120px;
  border-top: 8px solid #de3d00;
  border-right: 8px solid #de3d00;
  border-bottom: 8px solid #de3d00;
  background-color: #ff7a00;
}

.sally__lip {
  position: absolute;
  width: 70px;
  height: 55px;
  border: 0px solid #de3d00;
  left: -34px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  background-color: #ff7a00;
}

.sally__lip--top {
  top: -8px;
  border-width: 8px 0 8px 8px;
}

.sally__lip--bottom {
  border-width: 8px 0 8px 8px;
  bottom: -8px;
}

.sally__lip-line {
  position: absolute;
  top: 55px;
  left: 25px;
  background-color: blue;
  height: 10px;
  width: 74px;
  background-color: #de3d00;
}


